*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121317;
  color: #fff;
  overflow: hidden;
}
h1 {
  padding: 10px 20px;
  text-align: center;
  text-shadow: 0 0 1px black;
  font-size: 10rem;
  margin-top: 2rem;
}
canvas {
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
